@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.ttf");
  font-weight: normal; }
.georgia {
  font-family: "Georgia", sans-serif; }

.merriweather {
  font-family: "Merriweather", sans-serif; }

.gray {
  color: #a2a2a2; }

.blue {
  color: #3b5998; }

.blue2 {
  color: #00acee; }

.red {
  color: #ae2028; }

.a-red {
  color: #ae2028;
  font-weight: bold; }
  .a-red:hover {
    color: #ae2028; }

* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
  display: flex;
  color: #000;
  flex-direction: column;
  min-height: 100vh; }

a {
  text-decoration: none !important;
  transition: 0.3s;
  color: #000; }
  a:hover {
    color: initial;
    opacity: 0.6; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }
@media (max-width: 1199.98px) {
  .container-1 {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }
.row-1 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-1 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

.row-2 {
  margin-left: -4px;
  margin-right: -4px; }
  .row-2 > [class*='col'] {
    padding-left: 4px;
    padding-right: 4px; }

.h1, h1 {
  font-size: 36px;
  font-weight: 900;
  color: #303030; }
  @media (max-width: 575.98px) {
    .h1, h1 {
      font-size: 29px; } }

.h1 {
  font-size: 40px;
  font-weight: 700; }

.h2, h2 {
  font-size: 27px;
  font-weight: 900;
  color: #303030; }
  @media (max-width: 575.98px) {
    .h2, h2 {
      font-size: 26px; } }

.h3, h3 {
  font-size: 18px;
  font-weight: 900;
  color: #303030; }

.h4, h4 {
  font-size: 24px;
  font-weight: 900;
  color: #303030; }

.h5, h5 {
  font-size: 14px;
  font-weight: bold;
  color: #303030; }

.h6, h6 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Merriweather", sans-serif;
  color: #303030;
  text-transform: uppercase; }

.fz-21 {
  font-size: 21px; }
  @media (max-width: 575.98px) {
    .fz-21 {
      font-size: 12px; } }

.fz-20 {
  font-size: 20px; }

.fz-15 {
  font-size: 15px; }

.fz-14 {
  font-size: 14px; }

.fz-13 {
  font-size: 13px; }

.fz-12 {
  font-size: 12px; }

.fw-900 {
  font-weight: 900; }

.lh-1 {
  line-height: 1; }

.bb-1 {
  border-bottom: 2px solid #000; }

.bb-1a {
  border-bottom: 2px solid #000; }
  @media (max-width: 767.98px) {
    .bb-1a {
      border: 0; } }

.bb-2 {
  border-bottom: 1px solid #ebebeb; }

.bb-2a {
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 767.98px) {
    .bb-2a {
      border: 0; } }

.page-navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  right: 0;
  left: 0;
  position: absolute;
  top: -99px;
  margin-top: 99px;
  z-index: 1002; }
  .page-navbar .navbar-top {
    padding: 16px; }
    .page-navbar .navbar-top .navbar-brand:hover {
      opacity: 0.6; }
  .page-navbar .navbar-bottom {
    padding: 4px 16px;
    border-bottom: 2px solid #f2f5f8; }
    @media (max-width: 1199.98px) {
      .page-navbar .navbar-bottom {
        padding: 4px 0; } }
    .page-navbar .navbar-bottom .navbar-nav-1 .nav-item .nav-link {
      padding: 4px 18px;
      display: inline-block;
      transition: 0.3s;
      color: #000;
      font-weight: bold; }
      @media (max-width: 1199.98px) {
        .page-navbar .navbar-bottom .navbar-nav-1 .nav-item .nav-link {
          padding: 8px 0; } }
      .page-navbar .navbar-bottom .navbar-nav-1 .nav-item .nav-link:hover {
        opacity: 0.6; }
    .page-navbar .navbar-bottom .header-links {
      white-space: nowrap; }
    @media (max-width: 1199.98px) {
      .page-navbar .navbar-bottom .btn-contact {
        font-size: 10px;
        padding: 11px 6px; } }
  .page-navbar.fixed-top {
    position: fixed;
    top: 0;
    margin-top: 0;
    transition: top 0.5s; }
    .page-navbar.fixed-top .navbar-top {
      display: none !important; }
    .page-navbar.fixed-top .navbar-bottom .header-links, .page-navbar.fixed-top .navbar-bottom .search, .page-navbar.fixed-top .navbar-bottom .btn-contact, .page-navbar.fixed-top .navbar-bottom .form-box {
      display: none !important; }
    .page-navbar.fixed-top .navbar-bottom .img-header {
      display: block !important; }
    .page-navbar.fixed-top + #menu {
      top: 58px; }

.navbar-toggler {
  display: inline-block;
  color: #000;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  background-color: #FFF;
  transform: rotate(180deg); }
  .navbar-toggler:hover {
    opacity: 0.6; }
  .navbar-toggler:before {
    width: 10px; }
  .navbar-toggler span {
    width: 18px; }
  .navbar-toggler:after {
    width: 25px; }
  .navbar-toggler:before, .navbar-toggler:after {
    content: ""; }
  .navbar-toggler span, .navbar-toggler:after {
    margin-top: 8px; }
  .navbar-toggler span, .navbar-toggler:before, .navbar-toggler:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 1px solid #000; }
  .navbar-toggler:hover {
    opacity: 0.8; }
  .fixed-top .navbar-toggler {
    display: none; }

.navbar-toggler-2 {
  display: inline-block;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0; }
  .navbar-toggler-2:hover {
    opacity: 0.6; }
  .navbar-toggler-2:before {
    width: 25px; }
  .navbar-toggler-2 span {
    width: 25px; }
  .navbar-toggler-2:after {
    width: 25px; }
  .navbar-toggler-2:before, .navbar-toggler-2:after {
    content: ""; }
  .navbar-toggler-2 span, .navbar-toggler-2:after {
    margin-top: 8px; }
  .navbar-toggler-2 span, .navbar-toggler-2:before, .navbar-toggler-2:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 1px solid #000;
    margin-left: auto; }
  .navbar-toggler-2.active:before {
    transform: rotate(-45deg);
    width: 25px; }
  .navbar-toggler-2.active span {
    width: 0;
    opacity: 0; }
  .navbar-toggler-2.active:after {
    transform: rotate(45deg);
    width: 25px; }
  .fixed-top .navbar-toggler-2 {
    display: none; }

@media (max-width: 1199.98px) {
  .page-navbar {
    transition: 0.3s; }
    .page-navbar #navbar {
      position: fixed;
      width: 200px;
      right: -200px;
      top: 0;
      bottom: 0;
      overflow: auto;
      min-height: 100vh;
      padding: 40px 15px;
      background: #f2f5f8; } }
@media (max-width: 1199.98px) {
  .menubar-in {
    overflow: hidden; }
    .menubar-in:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9; }
    .menubar-in .page-navbar {
      transform: translateX(-200px); } }
.form-search-2 {
  position: relative;
  transition: 0.3s; }
  .form-search-2 .form-control {
    padding: 0 20px 0 30px;
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 100px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; }
    .form-search-2 .form-control:focus {
      box-shadow: none; }
  .form-search-2 .fas {
    transition: 0.3s;
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    padding: 0; }

.form-box {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 1003; }
  .form-box .form-find {
    width: 200px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0; }
    .form-box .form-find .find {
      transition: 0.3s;
      position: absolute;
      border: none;
      border-radius: 0;
      padding: 0;
      cursor: pointer;
      text-align: center;
      color: #000;
      background: #FFF;
      top: 0px;
      left: 0px;
      bottom: 0px;
      line-height: 24px;
      width: 24px;
      font-size: 14px; }
    .form-box .form-find .input-find {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: 0;
      transition: 0.3s;
      height: 24px;
      padding: 0;
      width: 24px;
      box-shadow: none !important;
      border: 0; }
      @media (max-width: 1199.98px) {
        .form-box .form-find .input-find {
          width: 100%;
          padding: 2px 10px 2px 24px; } }
    .form-box .form-find.open .find {
      background: #f2f5f8; }
    .form-box .form-find.open .input-find {
      width: 100%;
      padding: 2px 10px 2px 24px;
      background: #f2f5f8; }

.dropdown-1:hover {
  opacity: 1 !important; }
.dropdown-1 .dropdown-toggle:after {
  display: none; }
.dropdown-1 .dropdown-menu {
  margin-top: 0;
  top: 147%;
  left: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  text-transform: capitalize; }
  @media (max-width: 1199.98px) {
    .dropdown-1 .dropdown-menu {
      margin-top: 10px; } }
  .dropdown-1 .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 16px; }
    .dropdown-1 .dropdown-menu .dropdown-item:hover {
      opacity: 1; }
    .dropdown-1 .dropdown-menu .dropdown-item:active {
      color: #000;
      background: #f8f9fa; }

.mt-200 {
  margin-top: 220px; }
  @media (max-width: 1199.98px) {
    .mt-200 {
      margin-top: 100px; } }

.mt-145 {
  margin-top: 145px; }
  @media (max-width: 1199.98px) {
    .mt-145 {
      margin-top: 66px; } }

@media (min-width: 1200px) {
  .w-300 {
    width: 300px; }

  .w-200 {
    width: 200px; } }
.return {
  font-size: 11px;
  display: inline-block; }
  .return .fa-chevron-left {
    font-size: 10px;
    margin-right: 4px;
    margin-bottom: 2px; }
  .return:hover {
    transform: translateX(-4px); }

.return-2 {
  font-size: 13px;
  font-weight: bold; }

.directory-links {
  font-size: 13px;
  padding: 8px;
  transition: 0.3s;
  border-radius: 6px; }
  .directory-links:hover {
    background: #f2f5f8;
    font-weight: bold;
    opacity: 1; }

@media (max-width: 767.98px) {
  .directory-links-2 {
    text-transform: uppercase;
    border: 1px solid #f2f5f8; } }

.contacts {
  padding-left: 18px;
  font-family: "Georgia", sans-serif;
  font-size: 15px; }

.bg-img {
  background-size: cover;
  background-position: center center;
  height: 100%; }

.pagination .page-link {
  color: #ae2028;
  font-size: 14px;
  font-weight: bold; }
  .pagination .page-link:hover {
    background: #ae2028;
    color: #FFF;
    opacity: 1; }
  .pagination .page-link:focus {
    box-shadow: none; }
  @media (max-width: 991.98px) {
    .pagination .page-link {
      font-size: 12px; } }

.owl-carousel.owl-theme .owl-dots {
  display: none !important; }

.btn-contact {
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 4px;
  background: #ae2028;
  border: 0;
  color: #FFF;
  font-weight: bold;
  transition: 0.3s; }
  .btn-contact:hover {
    color: #FFF;
    opacity: 0.8; }
  .btn-contact:focus {
    box-shadow: none; }

.categories {
  background: #FFF; }
  @media (min-width: 768px) {
    .categories {
      position: static;
      opacity: 1 !important;
      display: block;
      height: auto; }
      .categories .modal-dialog {
        transform: none !important; } }
  @media (max-width: 767.98px) {
    .categories {
      padding: 17px !important; } }
  .categories .modal-dialog {
    margin: 0;
    border: 0 !important;
    max-width: 100%; }

.btn-category {
  font-size: 18px;
  padding: 8px 16px;
  transition: 0.3s;
  border-radius: 6px;
  background: #f2f5f8; }

.btn-close {
  display: inline-block;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  margin-right: 16px; }
  .btn-close:hover {
    opacity: 0.6; }
  .btn-close:before {
    width: 25px;
    transform: rotate(-45deg); }
  .btn-close span {
    width: 0;
    opacity: 0; }
  .btn-close:after {
    width: 25px;
    transform: rotate(45deg); }
  .btn-close:before, .btn-close:after {
    content: ""; }
  .btn-close span, .btn-close:after {
    margin-top: 8px; }
  .btn-close span, .btn-close:before, .btn-close:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 1px solid #000;
    margin-left: auto; }

.tabs-search {
  font-size: 13px;
  border: 0;
  text-align: center;
  justify-content: center; }
  .tabs-search .nav-link {
    border: 0;
    color: #000;
    border-radius: 6px;
    margin: 0 8px;
    padding: 8px;
    transition: 0.3s; }
    @media (max-width: 767.98px) {
      .tabs-search .nav-link {
        text-transform: uppercase;
        border: 1px solid #f2f5f8; } }
    .tabs-search .nav-link.active, .tabs-search .nav-link:hover {
      background: #f2f5f8;
      font-weight: bold;
      opacity: 1; }

.footer {
  padding-top: 30px;
  background: #f9f9fa;
  margin-top: auto;
  color: #4b4b4b; }
  .footer .brand {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
  .footer .footer-links a {
    padding-bottom: 4px;
    color: #4b4b4b;
    font-size: 13px;
    font-weight: bold;
    display: inline-block; }

.social {
  display: inline-block;
  color: #4b4b4b !important;
  vertical-align: middle;
  margin-right: 14px;
  font-size: 16px !important; }
  @media (max-width: 1199.98px) {
    .social {
      margin-left: 14px; } }
  .social:hover {
    opacity: 0.7; }

.footer-bottom {
  padding: 15px 0 20px;
  border-top: 1px solid;
  font-size: 13px;
  font-weight: bold;
  border-top: 1px solid #ebebeb; }

@media (min-width: 1200px) {
  .col-xl-news {
    flex: 0 0 20%;
    max-width: 20%; } }
.img-wrap {
  overflow: hidden;
  transition: 0.3s; }
  .img-wrap .bg-wrap {
    transition: 0.3s; }
  @media (min-width: 1200px) {
    .img-wrap:hover .bg-wrap {
      transform: scale(1.1); } }

.news {
  text-transform: uppercase;
  color: #ae2028;
  font-size: 11px;
  display: block;
  font-weight: bold;
  letter-spacing: 1.5px; }

.menubar {
  overflow: hidden; }

.menubar .navbar-toggler {
  opacity: 0;
  pointer-events: none; }

#menu {
  position: fixed;
  top: 146px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1031;
  padding: 26px 0;
  transition: 0.3s;
  opacity: 0;
  background: #FFF;
  pointer-events: none; }
  .menubar #menu {
    opacity: 1;
    pointer-events: auto; }
  @media (max-width: 1199.98px) {
    #menu {
      top: 65px; } }

.link-name {
  color: #ae2028;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 8px; }

.links {
  margin-bottom: 24px; }
  .links a {
    color: #000;
    font-family: "Roboto", sans-serif;
    display: block;
    padding-bottom: 2px; }
    .links a:hover {
      opacity: 0.6; }

.form-control-search {
  border-radius: 0;
  height: 52px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #f2f5f8;
  border: 0; }
  .form-control-search:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.1) !important; }
  @media (max-width: 767.98px) {
    .form-control-search {
      padding-left: 15px;
      padding-right: 15px; } }

.link-deal {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
  text-align: center; }

.cart-deal {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #f2f5f8;
  padding-top: 20px; }

.event-box {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 24px; }
  .event-box:not(:first-child) {
    padding-top: 24px; }
  @media (max-width: 575.98px) {
    .event-box h3 {
      font-size: 16px; } }

.calendar-box {
  display: inline-block;
  text-align: center; }
  .calendar-box .date {
    font-size: 30px;
    font-weight: bold;
    line-height: 1; }
    @media (max-width: 575.98px) {
      .calendar-box .date {
        font-size: 22px; } }
  .calendar-box .month {
    text-transform: uppercase; }
    @media (max-width: 575.98px) {
      .calendar-box .month {
        font-size: 12px; } }

.location {
  font-size: 14px;
  color: #a2a2a2; }
  @media (max-width: 575.98px) {
    .location {
      font-size: 12px; } }

.form-control-calendar {
  font-size: 14px;
  color: #000;
  border-color: #c6c6c6;
  background: #f7f8f9;
  border-radius: 5px;
  height: 38px; }
  .form-control-calendar:focus {
    box-shadow: none;
    border-color: #c6c6c6; }

input[type=radio] {
  display: none; }

.radio-group-time {
  display: block;
  cursor: pointer; }
  .radio-group-time input ~ div {
    padding: 8px 12px;
    font-size: 14px;
    transition: 0.3s;
    border-radius: 100px;
    border: 1px solid #c6c6c6;
    color: #000; }
  .radio-group-time input:hover ~ div, .radio-group-time input:checked ~ div {
    background: #EDCED0;
    color: #ae2028;
    border-color: #ae2028; }

.select2-container {
  display: block;
  width: auto !important;
  min-width: 45px !important; }
  .select2-container .select2-selection--single {
    background: #f7f8f9;
    border: 1px solid #c6c6c6;
    padding: 0px 12px;
    transition: 0.3s;
    height: 40px; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
      padding-right: 0; }
  .select2-container .selection {
    display: block; }

.select2-container--default .select2-selection--single {
  border-radius: 5px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000;
    line-height: 40px;
    font-size: 14px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--open .select2-dropdown {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  overflow: hidden;
  top: -40px;
  padding: 0;
  z-index: 1039; }
  .select2-container--open .select2-dropdown .select2-search--dropdown {
    padding: 0; }
    .select2-container--open .select2-dropdown .select2-search--dropdown .select2-search__field {
      border: 0;
      border-bottom: 1px solid #c6c6c6;
      color: #000;
      border-radius: 5px 5px 0 0;
      padding: 4px 12px;
      height: 40px;
      font-size: 14px;
      background: #FFF; }
  .select2-container--open .select2-dropdown .select2-results {
    padding: 4px; }
    .select2-container--open .select2-dropdown .select2-results .select2-results__options {
      max-height: 140px;
      padding-right: 4px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar {
        width: 4px;
        height: 4px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 2px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options::-webkit-scrollbar-thumb {
        background-color: #c6c6c6;
        border-radius: 2px; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option {
        font-size: 13px;
        padding: 4px 6px;
        color: #000;
        background-color: transparent; }
      .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable {
        background: transparent; }
        .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable:hover, .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected, .select2-container--open .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--highlighted.select2-results__option--selectable {
          background-color: #f2f5f8;
          border-radius: 5px;
          border: 1px solid #c6c6c6; }

/*# sourceMappingURL=style.css.map */
